.location-form-container {
    height: 100vh;    
    display: flex;
    justify-content: center;
    padding-top: 33vh;
}

.data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}