@property --gradient-color-1 {
    syntax: '<color>';
    initial-value: rgba(0, 0, 0, 0.20);
    inherits: false;
}

@property --gradient-color-2 {
    syntax: '<color>';
    initial-value: rgba(240, 245, 255, 0.8);
    inherits: false;
}

.weather-visualizer {
    position: fixed;    
    top: 0;    
    left: 0;
    width: 100%;
    height: 100%;   
    overflow: scroll;      
    background: linear-gradient(var(--gradient-color-1) 50%, var(--gradient-color-2));
    transition: --gradient-color-1 500ms
}

.pleasant {
    --gradient-color-1: rgb(20, 170, 220);    
}

.unpleasant {
    --gradient-color-1: rgba(0, 0, 0, 0.20);    
}

.weather-visualization {
    position: absolute;
    top:0;
    bottom: 0;
    z-index: -1;    
}

@property --day-overlay {
    syntax: '<color>';
    initial-value: rgba(0, 0, 0, 0);
    inherits: false;
}

.part-of-day {
    background-color: var(--day-overlay);
    transition: background-color 500ms linear;   
    position: fixed;    
    top: 0;    
    left: 0;
    width: 100%;
    height: 100%;       
    overflow: scroll;      
}

.day-time {
    --day-overlay: rgba(0, 0, 0, 0);    
}

.night-time {
    --day-overlay: rgba(0, 0, 0, 0.25);       
}

.twilight-time {
    --day-overlay: rgba(0, 0, 0, 0.1);    
}