.weather-visualization {
    position: absolute;
    top:0;
    z-index: -1;
}

@property --day-overlay {
    syntax: '<color>';
    initial-value: rgba(0, 0, 0, 0);
    inherits: false;
}

.part-of-day {
    background-color: var(--day-overlay);
    transition: background-color 500ms linear;    
}

.day-time {
    --day-overlay: rgba(0, 0, 0, 0);    
}

.night-time {
    --day-overlay: rgba(0, 0, 0, 0.25);       
}

.twilight-time {
    --day-overlay: rgba(0, 0, 0, 0.1);    
}