.cloudy-visual {    
    width: 100vw;
    height: 100vh;       
    position: relative;
    overflow: hidden;
}

.cloudy-visual > div {
    position: absolute;    
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05)) ;  
    pointer-events: none;  
    filter: blur(25px)      
}

.cloudy-1 {
    animation: float 30s linear infinite;    
}

.cloudy-2 {
    animation: float 20s linear infinite;
}

@keyframes float {
    0% {
        
    }

    100% {
        transform: translateX(-150vw);
    }
}