.chart-container {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.05);
    border-radius: 0.25rem;
}

.early-morning {
    fill: rgba(0, 0, 0, 0.25);
}

.sunrise {
    fill: rgba(0, 0, 0, 0.15);
}

.sunset {
    fill: rgba(0, 0, 0, 0.15);
}

.night {
    fill: rgba(0, 0, 0, 0.25);
}