.daily-info {
    width: 100%;    
    justify-content: space-between;
    align-items: center;
    display: grid;    
    grid-template-columns: 1fr 1fr;    
}

.temperature {
    display: flex;    
    width: 100%;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;    
}

.average-temperature {
    white-space: nowrap;
}