.temperature-indicator {
    margin: 1rem 0rem;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}

.temperature-indicator:hover .min-temperature * {
    color: transparent;
}

.temperature-indicator:hover .max-temperature * {
    color: transparent;
}

.temperature-indicator:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.temperature-indicator:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.hour-indicator {
    height: 1rem;
    width: 1rem;
    position: relative;    
}

.time-info, .temperature-info {
    font-size: 0.75rem;
    font-weight: 400;
    position: absolute;    
    left: -0.5rem;
    color: transparent;
    transition: 0.05s;
}

.time-info {
    top: -1rem;
}

.temperature-info {
    bottom: -1rem;
}

.hour-indicator:hover {
    border: 1px solid rgba(255, 255, 255, 0.5)
}

.hour-indicator:hover .time-info {
    color: #ffffff
}

.hour-indicator:hover .temperature-info {
    color: #ffffff
}

.min-temperature .time-info {
    color: #ffffff;
}

.min-temperature .temperature-info {
    color: #ffffff;
}

.max-temperature .time-info {
    color: #ffffff;
}

.max-temperature .temperature-info {
    color: #ffffff;
}