.daily-overview {    
    display: grid;    
    align-items: center;        
    grid-template-columns: repeat(3, 1fr);

}

.daily-overview > div:last-child {
    justify-items: end;
}

.category-icons {
    display: flex;    
    gap: 0.25rem
}