.temperature-stats {
    display: flex;
    gap: 1rem;
    align-items: center;;
}

.temperature-stats > .avg {
    display: flex;
    gap: 0.25rem;
}

.temperature-stats > .min-max {
    display: grid;    
    grid-template-columns: repeat(2, 1fr);    
    gap: 0rem 0.25rem;
    width: 4.5rem;
}

.temperature-stats span:nth-child(even){
    text-align: right;    
}

.temperature-stats > .min-max > div {
    display: flex;
    gap: 0.25rem;
}